.binaryOptionsHeader{
  display:flex;
  align-items: center;
  justify-content: center;
  height:300px;
  background:#241441e8;
  color:white;
}

.binaryButtons{
  margin-right:10px;
  
}
.selected {
  background:white !important;
}

.binaryOption{
  padding:30px;
  background:rgba(255, 255, 255, 0.5);
  margin-bottom:50px;
}