.calculatorInput{
  display:flex;
  align-items: center;
  margin-bottom:10px;
  flex-wrap:wrap;
  transition:500ms;
}

.calculatorInput p{
  margin-right:50px;
  margin-bottom:0px;
  margin-left:50px;
}

.calculatorInput button{
  border:none;
  padding:5px;
  width:100px;
  border-radius:5px;
  background:darkgray;
  color:white;
  transition:500ms;
}

.calculatorInput button:hover{
  background:rgb(154, 92, 235);
  transition:500ms;
}

.calculatorContainer{
  background:white;
  padding:50px;
  border-radius: 20px;
  width:fit-content;
  transition:500ms;
}