.registerContainer{
  display:flex;
  flex-wrap: wrap;
  height:100vh;
  width:fit-content;
  padding:50px;
  background:rgb(55, 20, 112);
  color:white;
}

.registerContainer input{
  width:500px;
  max-width:100% !important;
  border:none;
  border-radius:20px;
  font-size:1.5rem;
  color: black;
  padding:10px;
  padding-left:20px;
}
.registerContainer input:focus{
  outline:none;
}
.registerContainer .inputContainer{
  margin-bottom:20px;
}
.registerContainer hr{
  margin-bottom:50px;
  border:1px solid rgb(255, 255, 255);
}

